{% extends "base.html.twig" %}

{% block title %}{{store.getName}}{% endblock %}

{% block content %}
<h1>{{store.getName}}</h1>

<div class = "brands">
{% if brands is not empty %}
    <ul>
    {% for brand in brands %}
        <li><a href="/brand/{{brand.getId}}">{{brand.getName}}</a></li>
    {% endfor %}
    </ul>

{% else %}
    <h3>There are no brands currently associated with {{store.getName}} in our database</h3>
{% endif %}
</div>

<form class="assign" action="/assign_brand/{{store.getId}}" method = "post">
    <h4>Add to what brands are carried by {{store.getName}}</h4>
    <div class = "form-group">
        <label for="brand">Name of brand:</label>
        <select name = "brand">
        {% for brand in all_brands %}
            <option value="{{brand.getId}}">{{brand.getName}}</option>
        {% endfor %}
        </select>
    </div>
    <button class="btn btn-success btn-xs" type="submit">Assign</button>
</form>

<form class="add-brand add" action = "/add_brand" method = "post">
    <h4>Add a brand to be tracked</h4>
    <div class = "form-group">
        <label for="name">Name of brand:</label>
        <input type="text" name="name">
    </div>
    <button class="btn btn-success btn-xs" type="submit">Add</button>
</form>

<form class="edit" action = "/edit_store/{{store.getId}}" method = "post">
    <h4>Edit {{store.getName}}</h4>
    <input name="_method" type="hidden" value="patch">
    <div class = "form-group">
        <label for="new-name" value="{{store.getName}}">Edit the display name for {{store.getName}}:</label>
        <input type="text" value="{{store.getName}}" name="new-name">
    </div>
    <button class="btn btn-warning btn-xs" type="submit">Edit</button>
</form>

<form class="delete" action = "/delete_store/{{store.getId}}" method = "post">
    <h4>Delete {{store.getName}}</h4>
    <input name="_method" type="hidden" value="delete">
    <button class="btn btn-danger btn-xs" type="submit">Delete</button>
</form>

{% endblock %}
